<h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Shopping Cart</h2>

<div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
  <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
    <div class="space-y-6">
      <ng-container *ngIf="state.products().length > 0; else emptyCart">
        <ng-container *ngFor="let cartItem of state.products(); trackBy: trackByProductId">
          <app-cart-item class="block" [productCartItem]="cartItem" (onRemove)="onRemove($event)"
            (onDecrease)="onDecrease($event)" (onIncrease)="onIncrease($event)" />
        </ng-container>
      </ng-container>
      <ng-template #emptyCart>
        <p class="text-white">There are no products in the cart.</p>
      </ng-template>
    </div>
  </div>

  <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full" *ngIf="state.products().length > 0">
    <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
      <p class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</p>

      <div class="space-y-4">
        <div class="space-y-2">
          <ng-container *ngFor="let cartItem of state.products(); trackBy: trackByProductId">
            <dl class="flex items-center justify-between gap-4">
              <dd class="text-base font-normal text-gray-500 dark:text-gray-400">{{ cartItem.product.title }}</dd>
              <dd class="text-base font-medium text-gray-900 dark:text-white">{{ (cartItem.product.price * cartItem.quantity) | currency }}</dd>
            </dl>
          </ng-container>
        </div>

        <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
          <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
          <dd class="text-base font-bold text-gray-900 dark:text-white">{{ state.price() | currency }}</dd>
        </dl>
      </div>

      <div class="flex justify-between mt-4">
        <button type="button" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          Proceed to Checkout
        </button>
        <button type="button" class="text-blue-500 bg-white border border-blue-500 hover:bg-blue-100 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-blue-800">
          Continue Shopping
        </button>
      </div>
    </div>
  </div>
</div>
